doctype html
html(lang="en")
  head
    title Frontend example
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='//yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src='/node_modules/vow/vow.min.js')
    script(src='/blocks/baby-loris-api-error/baby-loris-api-error.js')
    script(src='/blocks/baby-loris-api/baby-loris-api.js')
    script(src='/examples/frontend/bla/client.js')
  body(class='container')
    div(class='col-md-7')
      h1 Tests for the frontend part of API
      h2 Greeting from server (hello.api.js)
      div(class='form-group')
        label(class='control-label', for='name') Enter your name
        input(class='form-control', id='name')
        h3
          span(class='label label-success', id='result')
    div(class='col-md-9')
      h2 Kittens from flickr (get-kittens.api.js)
      div(id='kittens', class='inline')
